# Konfiguration für Code Coverage

[run]
# Coverage-Datei (SQLite)
data_file = cov/.coverage

# Verzeichnisse und Dateien, die getestet werden sollen
source =
    src
#    main.py

# Verzeichnisse und Dateien, die nicht getestet werden sollen
omit =
    _*

[report]
# Zeilennummern der nicht abgedeckten Zeilen anzeigen
show_missing = True

# Dateien ohne Code überspringen
skip_empty = True

[html]
# Ausgabeverzeichnis für HTML-Report
directory = cov/htmlcov

[xml]
# Ausgabeverzeichnis für HTML-Report
output = cov/coverage.xml
