/* css/dialogs.css */

.dialog {
    position: fixed; /* bezogen auf den Browser-Viewport, nicht den game-wrapper */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 220px;
    width: 550px;
    padding: 25px 30px;
    z-index: 10000;
    text-align: center;
    align-content: center;
    font-weight: bold;
    font-size: 22px;
    color: #f0f0f0;
    background-color: #404040f7; /* leicht transparent */
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

#error-toast {
    z-index: 10002; /* über die anderen Dialogen */
    font-size: 28px;
    background-color: red;
}

#wish-dialog {
    width: 1030px;
}

.dialog h3 {
    margin-bottom: 3vh; /* 25px, Relativer Abstand */
    font-size: 1.3em; /* bezogen auf Dialog-Font-Size */
}

.dialog p {
    margin-bottom: 3vh;
    font-size: 1.1em;
    line-height: 1.4;
}

.dialog button {
    padding: 10px 25px;
    font-family: 'Architect s Daughter', sans-serif;
    font-size: 32px;
    border-radius: 8px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    /*transition: background-color 0.2s;*/
    min-height: 80px;
    min-width: 160px;
    margin: 0 20px;
}

.dialog button:hover {
    filter: brightness(1.1);
}

.dialog button.cancel-button {
    background-color: #d9534f;
}

#wish-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vmin;
    margin-bottom: 2vh;
}

#wish-options button {
    min-width: 65px;
    min-height: 80px;
    padding: 0;
    margin: 0;
}

#wish-options button.selected-wish {
    background-color: #4CAF50;
    border: 2px solid #fff;
}
